
/.bundle
/db/*.sqlite3
/log/*.log
doc/
*.swp
*~
.project
.DS_Store
/dist/
*.class

# Package Files #
.jar
*.war
*.ear
*.log
*.db
*.DS_Store
*.zip
/nbproject/private
/build/classes/circle
/build/classes/Controllers
/build/classes/GUI
/build/hough/
/build/image/
/build/med
